:root {
  --touch-translate: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  touch-action: none;
}

.bigcontainer {
  height: 100vh;
  width: 100vw;
  background-color: beige;

  position: relative;

  padding: 0;
  overflow: hidden;
}

.handle-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.75rem;
  padding-bottom: 1.5rem;
}
.handle-container:hover {
  cursor: pointer;
}
.handle {
  width: 60px;
  height: 6px;
  border-radius: 4px;
  background: #666;
}

.app-navbar-container {
	z-index: 3;
	position: absolute;
	bottom: 0;
	width: calc(100vw);
  height: 60px;
	background: #001236;	
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar {
  height: 100%;
  width: 360px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-navbar-item {
  width: 50px;
  height: 50px;

  background: transparent;
  color: white;
  border: none;
}

.drawer {
  width: 100vw;
  height: 100vh;

  background: white;
  border-radius: 16px 16px 0 0;

  position: absolute;
  top: 100%;
  transform: translateY(calc(var(--touch-translate) * -1px));

  box-shadow: 0 -1px 6px 1px rgba(0, 0, 0, 0.2);
  transition: 0.15s ease-out;

  user-select: none;
}
.filler {
  height: 100px;
}