.app {
  display: grid;
  place-items: center;
  min-height: 50vh;

  background: #d4d4d4;
}

button {
  width: 12rem;
  height: 4rem;

  font-size: 1rem;

  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

  cursor: pointer;
}

a {
  text-decoration: none;
}